@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --bg-color: #fff;
  --fontfamily: 'Ubuntu', sans-serif;
  ;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--fontfamily);
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.container {
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: min-content;
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  width: 100%;
  height: min-content;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.header span {
  margin-left: 10px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.conteudo p {
  width: 300px;
  font-size: 14px;
  margin-left: 30px;
}

.conteudo img {
  width: 300px;
}

.codigo {
  margin: 30px;
  width: 100%;
  background-color: rgb(224, 250, 181);
  height: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.cabeca {
  width: 100%;
  height: 40px;
  background-color: rgb(2, 79, 2);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hash {
  text-align: center;
  font-size: 9px;
  margin: 25px;
}

.hash p {
  width: 100%;
  word-wrap: break-word;
}

.voltar {
  margin: 10px 0 0 30px;
  width: 380px;
}

